#ofertas{
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



.category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: 23%;
    padding-left: 23%;
    margin-bottom: 70px;
}

.promoTitle{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 50px;
    text-transform: uppercase;
    color: #ff7253;
}

.oferta{

    padding: 10px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
    border: 2px solid;
    height: 500px;
    width: 400px;
    

}

.titleCategory{
    margin-bottom: 60px;
    margin-top: 20px;
}

.imagePromo{
    width: 330px;
    height: 350px;
}